<div style="width:100%;height:60px;background-color:#222;display:flex;justify-content:space-around;">
	<div style="margin-top:5px;width:25%;padding-left:10px;">
		<a href="{{ path('ots_core_home') }}" title="{{ 'ots_core.site.title'|trans }}">
            <img src="{{ imgUrl }}" alt="{{ 'ots_core.header.title.img_alt'|trans }}" />
		</a>
	</div>
	<div style="width:75%;text-align:right;">
		<h2 style="color:#eee;padding-right:10px;padding-top:5px;">{{ 'ots_core.site.title'|trans }}</h2>
	</div>
</div>

<h3>{{ 'ots_billing.mail.body.title'|trans }}</h3>

<p>
	{{ 'ots_billing.mail.body.info'|trans }}
</p>

<p>
	<b>{{ 'ots_billing.mail.body.reference'|trans }} {{ order.reference }}</b>
</p>

<div style="background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:4px;width:95%;margin:auto;display:flex;justify-content:space-around;padding:0 10px;text-align:center;">
	<div style="width:50%;">
		<p>
			{{ 'ots_core.site.date'|trans }} {{ order.date|date("d/m/Y") }}
		</p>
		<p>
			{{ 'ots_core.site.type'|trans }} {% if order.type %}{{ 'ots_core.site.full_day'|trans }}{% else %}{{ 'ots_core.site.half_day'|trans }}{% endif %}
		</p>
	</div>
	<div style="width:50%;">
		<p>
			{{ 'ots_core.site.count'|trans }} {{ order.nbTickets }}
		</p>
		<p>
			{{ 'ots_core.site.total_price'|trans }} {{ order.price }}€
		</p>
	</div>
</div>

{% for ticket in order.tickets %}
	<div style="width:95%;margin:auto;display:flex;justify-content:space-around;">
		<div style="width:50%;padding-left:10px;">
			<p>
				<b>{{ 'ots_core.site.first_name'|trans }}</b> {{ ticket.firstName }}
			</p>
			<p>
				<b>{{ 'ots_core.site.country'|trans }}</b> {{ ticket.country }}
			</p>
			<p>
				<b>{{ 'ots_core.site.price'|trans }}</b> {{ ticket.price }}€
			</p>
		</div>
		<div style="width:50%;padding-left:10px;">
			<p>
				<b>{{ 'ots_core.site.name'|trans }}</b> {{ ticket.name }}
			</p>
			<p>
				<b>{{ 'ots_core.site.birthdate'|trans }}</b> {{ ticket.birthDate|date("d/m/Y") }}
			</p>
			<p>
				<b>
					{% if ticket.discounted %}
						{{ 'ots_core.site.reduced_rate'|trans }}
					{% elseif ticket.price == 0 %}
						{{ 'ots_core.site.toddler_rate'|trans }}
					{% elseif order.type %}
						{% if ticket.price == 12 %}
							{{ 'ots_core.site.senior_rate'|trans }}
						{% elseif ticket.price == 16 %}
							{{ 'ots_core.site.normal_rate'|trans }}
						{% elseif ticket.price == 8 %}
							{{ 'ots_core.site.child_rate'|trans }}
						{% endif %}
					{% else %}
						{% if ticket.price == 6 %}
							{{ 'ots_core.site.senior_rate'|trans }}
						{% elseif ticket.price == 8 %}
							{{ 'ots_core.site.normal_rate'|trans }}
						{% elseif ticket.price == 4 %}
							{{ 'ots_core.site.child_rate'|trans }}
						{% endif %}
					{% endif %}
				</b>
			</p>
		</div>
	</div>
	<hr />
{% endfor %}