{% extends "OTSCoreBundle::layout.html.twig" %}

{% block title %}
  	{{ 'ots_billing.confirmation.header.title'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/otscore/css/default-page.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
	{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1 id="title">{{ 'ots_billing.confirmation.body.title'|trans }}</h1>
    <hr />

    <p>
        {{ 'ots_billing.confirmation.body.content'|trans|nl2br }}
    </p>
{% endblock %}