{% extends "OTSCoreBundle::layout.html.twig" %}

{% block title %}
  	Book online - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/otscore/css/billing.css'
        '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
	{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <h1 id="title">Book online</h1>
    <hr />

    <div class="row">
        <p id="step_checker" class="hidden">{{ flow.getCurrentStepNumber() }}</p>
        <div>
            {% include 'OTSBillingBundle:Billing:stepList_content.html.twig' %}
        </div>
        {{ form_start(orderForm, {
                'action': path(app.request.attributes.get('_route'),
                app.request.query.all | craue_removeDynamicStepNavigationParameters(flow))
            })
        }}
            {{ form_errors(orderForm) }}

            <input type="hidden" id="ots_billingbundle_ticketorder_php_date" value="" name='ots_billingbundle_ticketorder[date]' />

            {{ form_rest(orderForm) }}

            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}
        {{ form_end(orderForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/otscore/js/billing.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}