{% extends "OTSCoreBundle::layout.html.twig" %}
{% form_theme orderForm 'form/fields.html.twig' %}

{% block title %}
  	Book online - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/otscore/css/billing.css'
        '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
	{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <h1 id="title">Book online</h1>
    <hr />

    <div class="row">
        <div>
            {% include 'OTSBillingBundle:Billing:stepList_content.html.twig' %}
        </div>
        {{ form_start(orderForm) }}
            {% if form_errors(orderForm) %}
                <div class="alert alert-warning">
                    {{ form_errors(orderForm) }}
                </div>
            {% endif %}

            {% if flow.getCurrentStepNumber() == 1 %}
                {% if orderForm.date is defined %}
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <div class="col-xs-12">
                            {{ form_label(orderForm.date, '', {
                                'attr': {'class': 'control-label'}
                            }) }}
                        </div>

                        {% if form_errors(orderForm.date) %}
                            <div class="alert alert-warning">
                                {{ form_errors(orderForm.date) }}
                            </div>
                        {% endif %}

                        <div class="col-xs-12" id="order_datepicker">
                        </div>
                            {{ form_widget(orderForm.date, {
                                'attr': {'class': 'form-control'}
                            }) }}
                    </div>
                {% endif %}

                {% if orderForm.type is defined %}
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <div class="col-xs-12">
                            {{ form_label(orderForm.type, '', {
                                'attr': {'class': 'control-label'}
                            }) }}
                        </div>

                        {% if form_errors(orderForm.type) %}
                            <div class="alert alert-warning">
                                {{ form_errors(orderForm.type) }}
                            </div>
                        {% endif %}

                        {{ form_widget(orderForm.type) }}
                    </div>
                {% endif %}

                {% if orderForm.nbTickets is defined %}
                    <div class="col-xs-12 col-md-4 form-group">
                        <div class="col-xs-12">
                            {{ form_label(orderForm.nbTickets, '', {
                                'attr': {'class': 'control-label'}
                            }) }}
                        </div>

                        {% if form_errors(orderForm.nbTickets) %}
                            <div class="alert alert-warning">
                                {{ form_errors(orderForm.nbTickets) }}
                            </div>
                        {% endif %}

                        {{ form_widget(orderForm.nbTickets, {
                            'attr': {'class': 'form-control'}
                        }) }}

                        <table id="calculator">
                            <tr>
                                <td><span class="btn btn-default calc_number">1</span></td>
                                <td><span class="btn btn-default calc_number">2</span></td>
                                <td><span class="btn btn-default calc_number">3</span></td>
                            </tr>
                            <tr>
                                <td><span class="btn btn-default calc_number">4</span></td>
                                <td><span class="btn btn-default calc_number">5</span></td>
                                <td><span class="btn btn-default calc_number">6</span></td>
                            </tr>
                            <tr>
                                <td><span class="btn btn-default calc_number">7</span></td>
                                <td><span class="btn btn-default calc_number">8</span></td>
                                <td><span class="btn btn-default calc_number">9</span></td>
                            </tr>
                            <tr>
                                <td><span class="btn btn-default calc_number">0</span></td>
                                <td colspan="2"><span class="btn btn-default calc_del"><span class="glyphicon glyphicon-arrow-left"></span></span></td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endif %}

            {% if flow.getCurrentStepNumber() == 2 %}
                {% if orderForm.tickets is defined %}
                    <div class="col-xs-12 form-group">
                        {% if form_errors(orderForm.tickets) %}
                            <div class="alert alert-warning">
                                {{ form_errors(orderForm.tickets) }}
                            </div>
                        {% endif %}

                        {{ form_widget(orderForm.tickets) }}

                        {% for i in 0..orderForm.nbTickets.vars.value - 1 %}
                            <input type="hidden" id="ots_billingbundle_ticketorder_tickets_{{ i }}_php_birthDate" name="ots_billingbundle_ticketorder[tickets][{{ i }}][birthDate]" required="required" />
                        {% endfor %}

                        <h2>Total Price : <span id="total_price">-</span></h2>
                    </div>
                {% endif %}
            {% endif %}

            {% if flow.currentStepNumber == 3 %}
                <div class="row well">
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="col-xs-12">
                            Date: <span id="recap_date"></span>
                        </h4>
                        <h4 class="col-xs-12">
                            Ticket type: <span id="recap_type"></span>
                        </h4>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="col-xs-12">
                            Tickets count: <span id="recap_nbTickets"></span>
                        </h4>
                        <h4 class="col-xs-12">
                            Total price: <span id="recap_price"></span>
                        </h4>
                    </div>
                </div>

                <script src="https://checkout.stripe.com/checkout.js"></script>

                <button class="btn btn-primary" id="btn-stripe-checkout" data-amount="{{ orderForm.price.vars.value * 100 }}" data-nbtickets="{{ orderForm.nbTickets.vars.value }}">
                    Pay with Card
                </button>
            {% endif %}

            <div class="row">
                {{ form_rest(orderForm) }}
            </div>

            {% if flow.currentStepNumber == 1 %}
                <ul class="text-block">
                    <li>
                        "Half-day" tickets cost half the price of "Full-day" tickets, but only let you enter the museum after 2pm.
                    </li>
                    <li>
                        Open everyday (except tuesday) from 9am to 6pm.<br />
                        Open until 9.45pm on wednesday and friday.<br />
                        Closed on the 1st of May, the 1st of November and the 25th of december.
                    </li>
                </ul>
            {% endif %}

            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                craue_formflow_button_class_last: 'btn btn-primary',
                craue_formflow_button_class_back: 'btn btn-default',
                craue_formflow_button_class_reset: 'btn btn-default',
                craue_formflow_button_label_next: 'Next',
                craue_formflow_button_label_finish: 'Complete',
                craue_formflow_button_label_back: 'Back',
                craue_formflow_button_label_reset: 'Reset',
            } %}
        {{ form_end(orderForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/otscore/js/billing.js'
        'bundles/otscore/js/stripe-checkout.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}