{% extends "OTSCoreBundle::layout.html.twig" %}
{% form_theme orderForm 'form/fields.html.twig' 'form/form_errors.html.twig' %}

{% block title %}
  	{{ 'ots_billing.billing.header.title'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/otscore/css/billing.css'
        '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
	<h1 id="title">{{ 'ots_billing.billing.body.title'|trans }}</h1>
    <hr />

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div>
            {% include 'OTSBillingBundle:Billing:stepList_content.html.twig' %}
        </div>
        {{ form_start(orderForm) }}
            {% if form_errors(orderForm) %}
                {{ form_errors(orderForm) }}
            {% endif %}

            {% if flow.getCurrentStepNumber() == 1 %}
                {% if orderForm.date is defined %}
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <div class="col-xs-12">
                            {{ form_label(orderForm.date, '', {
                                'attr': {'class': 'control-label'}
                            }) }}
                        </div>

                        {% if form_errors(orderForm.date) %}
                            {{ form_errors(orderForm.date) }}
                        {% endif %}

                        <div class="col-xs-12" id="order_datepicker">
                        </div>
                            {{ form_widget(orderForm.date, {
                                'attr': {'class': 'form-control'}
                            }) }}
                    </div>
                {% endif %}

                {% if orderForm.type is defined %}
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <div class="col-xs-12">
                            {{ form_label(orderForm.type, '', {
                                'attr': {'class': 'control-label'}
                            }) }}
                        </div>

                        {% if form_errors(orderForm.type) %}
                            {{ form_errors(orderForm.type) }}
                        {% endif %}

                        {{ form_widget(orderForm.type) }}
                    </div>
                {% endif %}

                {% if orderForm.nbTickets is defined %}
                    <div class="col-xs-12 col-md-4 form-group">
                        <div class="col-xs-12">
                            {{ form_label(orderForm.nbTickets, '', {
                                'attr': {'class': 'control-label'}
                            }) }}
                        </div>

                        {% if form_errors(orderForm.nbTickets) %}
                            {{ form_errors(orderForm.nbTickets) }}
                        {% endif %}

                        {{ form_widget(orderForm.nbTickets, {
                            'attr': {'class': 'form-control'}
                        }) }}

                        <table id="calculator">
                            <tr>
                                <td><span class="btn btn-default calc_number">1</span></td>
                                <td><span class="btn btn-default calc_number">2</span></td>
                                <td><span class="btn btn-default calc_number">3</span></td>
                            </tr>
                            <tr>
                                <td><span class="btn btn-default calc_number">4</span></td>
                                <td><span class="btn btn-default calc_number">5</span></td>
                                <td><span class="btn btn-default calc_number">6</span></td>
                            </tr>
                            <tr>
                                <td><span class="btn btn-default calc_number">7</span></td>
                                <td><span class="btn btn-default calc_number">8</span></td>
                                <td><span class="btn btn-default calc_number">9</span></td>
                            </tr>
                            <tr>
                                <td><span class="btn btn-default calc_number">0</span></td>
                                <td colspan="2"><span class="btn btn-default calc_del"><span class="glyphicon glyphicon-arrow-left"></span></span></td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endif %}

            {% if flow.getCurrentStepNumber() == 2 %}
                {% if orderForm.tickets is defined %}
                    <div class="col-xs-12 form-group">
                        {% if form_errors(orderForm.tickets) %}
                            {{ form_errors(orderForm.tickets) }}
                        {% endif %}

                        {{ form_widget(orderForm.tickets) }}

                        {% for i in 0..orderForm.nbTickets.vars.value - 1 %}
                            <input type="hidden" id="ots_billingbundle_ticketorder_tickets_{{ i }}_php_birthDate" name="ots_billingbundle_ticketorder[tickets][{{ i }}][birthDate]" required="required" />
                        {% endfor %}

                        <h2>{{ 'ots_core.site.total_price'|trans }} <span id="total_price">-</span></h2>
                    </div>
                {% endif %}
            {% endif %}

            {% if flow.currentStepNumber == 3 %}
                <div class="row well">
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="col-xs-12">
                            {{ 'ots_core.site.date'|trans }} <span id="recap_date"></span>
                        </h4>
                        <h4 class="col-xs-12">
                            {{ 'ots_core.site.type'|trans }} <span id="recap_type"></span>
                        </h4>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="col-xs-12">
                            {{ 'ots_core.site.count'|trans }} <span id="recap_nbTickets"></span>
                        </h4>
                        <h4 class="col-xs-12">
                            {{ 'ots_core.site.total_price'|trans }} <span id="recap_price"></span>
                        </h4>
                    </div>
                </div>

                <script src="https://checkout.stripe.com/checkout.js"></script>

                <button class="btn btn-primary" id="btn-stripe-checkout" data-amount="{{ orderForm.price.vars.value * 100 }}" data-nbtickets="{{ orderForm.nbTickets.vars.value }}" data-url="{{ path('ots_billing_home') }}">
                    {{ 'ots_billing.billing.step3.button'|trans }}
                </button>

                <div class="col-xs-12 alert alert-warning">
                    {% for i in 0..1 %}
                        <p>
                            {{ ('ots_billing.billing.step3.help_text.'~i)|trans }}
                        </p>
                    {% endfor %}
                    <ul>
                        {% for i in 0..3 %}
                            <li>
                                {{ ('ots_billing.billing.step3.help_list.'~i)|trans|raw }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                {{ form_rest(orderForm) }}
            </div>

            {% if flow.currentStepNumber == 1 %}
                <div class="row alert alert-info">
                    <ul>
                        {% for i in 0..1 %}
                            <li>
                                {{ ('ots_billing.billing.step1.opening_help.'~i)|trans|nl2br }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                craue_formflow_button_class_finish: 'hidden',
                craue_formflow_button_class_last: 'btn btn-primary',
                craue_formflow_button_class_back: 'btn btn-default',
                craue_formflow_button_class_reset: 'btn btn-default',
                craue_formflow_button_label_next: 'Next',
                craue_formflow_button_label_finish: 'Complete',
                craue_formflow_button_label_back: 'Back',
                craue_formflow_button_label_reset: 'Reset',
            } %}
        {{ form_end(orderForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% if flow.currentStepNumber == 3 %}
        {% javascripts
            'bundles/otscore/js/billing.js'
            'bundles/otscore/js/stripe-checkout.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts
            'bundles/otscore/js/billing.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}