{% extends "OTSCoreBundle::layout.html.twig" %}

{% block title %}
  	Home - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/otscore/css/home.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block body %}
	{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="row" id="cover">
        <div class="col-xs-12" id="cover-img">
        </div>
    </div>

    <div class="row text-center">
        <div class="col-xs-12" id="opening-hours">
            <h2>Opening time</h2>

            <p class="left-centered">
                Open every day except tuesday<br />
                From 9am to 6pm<br />
                Open until 9.45pm on wednesday and friday
                <br /><br />
                
                Closed on the 1st of May, the 1st of November and the 25th of december
            </p>
        </div>
    </div>

    <div class="row text-center" id="prices">
        <div class="row match-my-cols">
            <div class="col-xs-12 col-sm-6 price-block">
                <div class="price-box">
                <h2>Normal rate</h2>

                <p>
                    12 years old and older
                </p>

                <h3>16€</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 price-block">
                <div class="price-box">
                <h2>Discounted rate</h2>

                <p>
                    Student, french military, museum employee or Ministry of Culture employee
                </p>

                <h3>10€</h3>
                </div>
            </div>
        </div>
        <div class="row match-my-cols">
            <div class="col-xs-12 col-sm-6 price-block">
                <div class="price-box">
                <h2>Child rate</h2>

                <p>
                    From 4 to 12 years old<br />
                    Free for children younger than 4
                </p>

                <h3>8€</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 price-block">
                <div class="price-box">
                <h2>Senior rate</h2>

                <p>
                    60 years old and older
                </p>

                <h3>12€</h3>
                </div>
            </div>
        </div>

        <a class="btn btn-default btn-block btn-lg" id="booking-btn" href="{{ path('ots_billing_home') }}">
            Book a ticket online
        </a>
    </div>
{% endblock %}