<div class="row well">
    <div class="col-xs-12 col-sm-6">
        <h4 class="col-xs-12">
            {{ 'core.site.date'|trans }} <span id="recap_date"></span>
        </h4>
        <h4 class="col-xs-12">
            {{ 'core.site.type'|trans }} <span id="recap_type"></span>
        </h4>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h4 class="col-xs-12">
            {{ 'core.site.count'|trans }} <span id="recap_nbTickets"></span>
        </h4>
        <h4 class="col-xs-12">
            {{ 'core.site.total_price'|trans }} <span id="recap_price"></span>
        </h4>
    </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>

<button class="btn btn-primary" id="btn-stripe-checkout" data-amount="{{ orderForm.price.vars.value * 100 }}" data-nbtickets="{{ orderForm.nbTickets.vars.value }}" data-url="{{ path('core_booking') }}">
    {{ 'core.booking.step3.button'|trans }}
</button>

<div class="col-xs-12 alert alert-warning">
    {% for i in 0..1 %}
        <p>
            {{ ('core.booking.step3.help_text.'~i)|trans }}
        </p>
    {% endfor %}
    <ul>
        {% for i in 0..3 %}
            <li>
                {{ ('core.booking.step3.help_list.'~i)|trans({'%start_span%': '<span class="highlight">', '%end_span%': '</span>'})|raw }}
            </li>
        {% endfor %}
    </ul>
</div>
