<div class="row" id="cover">
    <div class="col-xs-12" id="cover-img">
    </div>

    <div class="title-block">
        <h1>{{ 'core.home.cover.title_block.title'|trans }}</h1>

        <h2>{{ 'core.home.cover.title_block.subtitle'|trans }}</h2>
    </div>

    <a class="btn btn-default btn-lg" id="booking-btn" href="{{ path('core_booking') }}">
        {{ 'core.home.cover.button'|trans }}
    </a>

    <a href="#opening-time" title="{{ 'core.home.cover.more.link_title'|trans }}" class="scrollspy-link">
        {{ 'core.home.cover.more.content'|trans }}
    </a>
</div>
